<div>
    <div layout="row" layout-padding>
        <div flex>
            <md-input-container>
                <label>Hand Embroidery</label>
                <input ng-model="embroidary.handembroidary" required>
            </md-input-container>
        </div>
        <div flex>
            <md-input-container>
                <label>CAD Embroidery</label>
                <input ng-model="embroidary.cadembroidary" required>
            </md-input-container>
        </div>
        <div flex>
            <md-input-container>
                <label>Job Order for Full Qty</label>
                <md-select name="type" ng-model="embroidary.jobOrder" required>
                    <md-option value="Full">Full</md-option>
                    <md-option value="Part">Part</md-option>
                </md-select>
            </md-input-container>
        </div>
    </div>
    <div layout="row" layout-padding>
        <div flex="1">
            <md-input-container>
                <label>Process Start date </label>
                <input ng-model="processtartDate" md-placeholder="Enter Date" name="processStartDate" ng-focus="DyeingChange(processticket.mtrs)">
                <div ng-messages="processcabinetform.processStartDate.$error">
                    <div ng-message="required">This is required.</div>
                </div>
            </md-input-container>
        </div>
        <div flex>
            <md-input-container>
                <label>Duration</label>
                <input ng-model="embroidary.duration" required>
                <div ng-messages="processembroiderryform.vendorname.$error">
                    <div ng-message="required">This is required.</div>
                </div>
            </md-input-container>
        </div>
        <div flex="16">
            <md-input-container>
                <label>Process End Date </label>
                <input ng-model="processEndDate" md-placeholder="Enter Date" name="processStartDate" ng-focus="DyeingChange()">
                <div ng-messages="processcabinetform.processStartDate.$error">
                    <div ng-message="required">This is required.</div>
                </div>
            </md-input-container>
        </div>
    </div>
    <div layout="row" layout-padding>
        <div flex>
            <md-input-container>
                <label> Fabric</label>
                <input ng-model="embroidary.fabric" required>
                <div ng-messages="processembroiderryform.currentDelay.$error">
                    <div ng-message="required">This is required.</div>
                </div>
            </md-input-container>
        </div>
        <div flex>
            <md-input-container>
                <label>Tape</label>
                <md-select name="type" ng-model="embroidary.fabrictype" required>
                    <md-option value="Peroxide">Peroxide</md-option>
                    <md-option value="Dyeing">Dyeing</md-option>
                    <md-option value="Boiling">Boiling </md-option>
                </md-select>
            </md-input-container>
        </div>
        <div flex>
            <md-input-container>
                <label>PO Number</label>
                <input ng-model="embroidary.fabricponumber" required>
                <div ng-messages="processembroiderryform.currentDelay.$error">
                    <div ng-message="required">This is required.</div>
                </div>
            </md-input-container>
        </div>
    </div>
    <div layout="row" layout-padding>
        <div flex>
            <md-input-container>
                <label>Mtrs</label>
                <input ng-model="embroidary.mtrs" required>
            </md-input-container>
        </div>
        <div flex>
            <md-input-container>
                <label> Dyed/RFP</label>
                <input ng-model="embroidary.dyed" required>
            </md-input-container>
        </div>
    </div>
    <div layout="row" layout-padding>
        <div flex>
            <md-input-container>
                <label>No of Screens/Block</label>
                <input ng-model="embroidary.noofscreens" required>
            </md-input-container>
        </div>
        <div flex>
            <md-input-container>
                <label>Thread</label>
                <md-select name="type" ng-model="embroidary.thread">
                    <md-option value="byvendor">By Vendor</md-option>
                    <md-option value="byambadi">By Ambadi</md-option>
                </md-select>
                <div ng-messages="processembroiderryform.currentDelay.$error">
                </div>
            </md-input-container>
        </div>
        <div flex>
            <md-input-container>
                <label>Approved</label>
                <md-select name="type" ng-model="embroidary.approved">
                    <md-option value="yes">Yes</md-option>
                    <md-option value="no">No</md-option>
                </md-select>
                <div ng-messages="processembroiderryform.currentDelay.$error">
                </div>
            </md-input-container>
        </div>
        <div flex>
            <md-input-container>
                <label>Bulk Purchase</label>
                <md-select name="type" ng-model="embroidary.bulkpurchase">
                    <md-option value="yes">Yes</md-option>
                    <md-option value="no">No</md-option>
                    <md-option value="available">Available </md-option>
                    <md-option value="indyeing">In Dyeing </md-option>
                </md-select>
                <div ng-messages="processembroiderryform.currentDelay.$error">
                </div>
            </md-input-container>
        </div>
    </div>
    <md-input-container>
        <label>Other Accessories</label>
        <input ng-model="embroidary.otheraccesories" required>
        <div ng-messages="processembroiderryform.vendorname.$error">
            <div ng-message="required">This is required.</div>
        </div>
    </md-input-container>
    <br>
    <md-button class="md-raised md-primary" ng-click="StoreAdd(workCenter,embroidary)">Save</md-button>
</div>