<div layout="row" style="height:60px;position: fixed; z-index: 100; width: 100%">
	<md-toolbar class="md-primary">
        <div class="md-toolbar-tools">
          <h3 >BLACKOUT</h3>
          </div>
         </md-toolbar>
</div>
<div layout="row" layout-padding style="height:60px;"></div>

<table-component headings="headingArray" tabledatas="blackoutData" selectedlist="selecteddata" addtableevent="addPopup()" deletetableevent="massDelete($event)" harthaltableevent="harthalPopup()" deletetableclick2="deleteFunction($event)" tableclick2="updateBlackout(this)" toggletable2="toggleFun()"></table-component>
<div style="visibility: hidden">
 <div class="md-dialog-container" id="editDialogholiday">
        <md-dialog flex="50">
            <!-- <md-toolbar md-scroll-shrink> -->
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <h2>
                                <span>Details</span>
                             </h2>
                    <span flex></span>
                </div>
            </md-toolbar>
               <md-content>
                           <div ng-repeat="machine in machineCollection">
                            <label >
                                <label> {{machine.name}}</label>
                            </label>
                        </div>
                            </br>
                        </md-content>
</md-dialog>
</div>
</div>
