<div layout="row" style="height:60px;position: fixed; z-index: 100; width: 100%">
	<md-toolbar class="md-primary">
        <div class="md-toolbar-tools">
          <h3 >LOCATION</h3>
          </div>
         </md-toolbar>
</div>
<div layout="row" layout-padding style="height:60px;"></div>

<table-component headings="headingArray" tabledatas="locationData" selectedlist="selecteddata" addtableevent="addPopup()" deletetableevent="massDelete($event)" deletetableclick2="deleteFunction($event)" tableclick2="updatePopup()" toggletable2="toggleFun()"></table-component>

<div style="visibility: hidden">
    <div class="md-dialog-container" id="addDialoglocation">
        <md-dialog flex="50">
            <!-- <md-toolbar md-scroll-shrink> -->
            <md-toolbar>
                          <div class="md-toolbar-tools">
                             <h2>
                                <span>Add</span>
                             </h2>
                             <span flex></span>
                          </div>
             </md-toolbar>
                       <md-content layout-padding>
                         <form name="projectAddForm" class="projectAddForm">
                              <md-input-container class="md-block">
                                <label>Location Name</label>
                                <input required name="name" ng-model="location.name" id="nameId">
                                <div ng-messages="projectAddForm.name.$error">
                                  <div ng-message="required">This is required.</div>
                                </div>
                             </md-input-container>

                             <!-- <md-input-container class="md-block">
                                <label>Type</label>
                                <input required name="type" ng-model="location.type" id="typeId">
                                <div ng-messages="projectAddForm.type.$error">
                                  <div ng-message="required">This is required.</div>
                                </div>
                             </md-input-container> -->
                             
                            <!--  <md-select ng-model="location.type" placeholder="Type">
                              <md-option value="office">Office</md-option>
                              <md-option value="production">Production</md-option>
                              <md-option value="both">Both</md-option>
                              <md-option value="vendor">Vendor</md-option>
                              
                            </md-select> -->

                            <div>
                              <md-button  type="submit" class="md-raised" ng-click="addlocation(location,projectAddForm.$invalid)">add</md-button>
                              <md-button class="md-raised" ng-click="cancel('add',location)">Cancel</md-button>
                            </div>
                        
                          </form>
                          <!-- <md-divider></md-divider> -->
                      </md-content>
          </md-dialog>
    </div>
</div> 

<div style="visibility: hidden">
      <div class="md-dialog-container" id="editDialoglocation">
         <md-dialog flex="50">
            <!-- <md-toolbar md-scroll-shrink> -->
            <md-toolbar>
                          <div class="md-toolbar-tools">
                             <h2>
                                <span>Edit</span>
                             </h2>
                             <span flex></span>
                          </div>
                       </md-toolbar>
                       <md-content layout-padding>
                         <form name="projectEditForm" class="projectEditForm">
                              <md-input-container class="md-block">
                                <label>Name</label>
                                <input required name="editname" ng-model="locationEdit.name"  ng-readonly=editRead>
                                <div ng-messages="projectEditForm.editname.$error">
                                  <div ng-message="required">This is required.</div>
                                </div>
                             </md-input-container>

                             <!-- <md-input-container class="md-block">
                                <label>Type</label>
                                <input required name="editname" ng-model="locationEdit.type" ng-readonly=editRead>
                                <div ng-messages="projectEditForm.edittype.$error">
                                  <div ng-message="required">This is required.</div>
                                </div>
                             </md-input-container> -->
                             <!--md-select ng-model="locationEdit.type" placeholder="Type" ng-disabled="selectdisabled">
                              <md-option value="Office">Office</md-option>
                              <md-option value="Production">Production</md-option>
                              <md-option value="Both">Both</md-option>
                              <md-option value="Vendor">Vendor</md-option>
                              
                            </md-select-->

                            <div>
                              <md-button class="md-raised" ng-if="editEnabled" ng-click="updatelocationclick(locationEdit,projectEditForm.$invalid,buttonText)" type="submit">{{buttonText}}</md-button>
                              <md-button class="md-raised" ng-click="cancel('edit')">Cancel</md-button>
                            </div>
                        
                          </form>
                          <!-- <md-divider></md-divider> -->
                      </md-content>
          </md-dialog>
      </div>
</div> 