<div layout="row" style="height:60px;position: fixed; z-index: 100; width: 100%">
	<md-toolbar class="md-primary">
        <div class="md-toolbar-tools">
          <h3 >MACHINE</h3>
          </div>
         </md-toolbar>
</div>
<div layout="row" layout-padding style="height:60px;"></div>

<table-component headings="headingArray" tabledatas="machinedata" selectedlist="selecteddata" addtableevent="addPopup()" deletetableevent="massDelete($event)" blackouttableevent="setBlackOutDayDialog()" deletetableclick2="deleteFunction($event)" tableclick2="updatePopup()" toggletable2="toggleFun()"></table-component>


<div style="visibility: hidden">
      <div class="md-dialog-container" id="setblackoutdayDialog" >
         <md-dialog flex="50">
            <!-- <md-toolbar md-scroll-shrink> -->
            <md-toolbar>
                          <div class="md-toolbar-tools">
                             <h2>
                                <span>SET BLACKOUT DAY</span>
                             </h2>
                             <span flex></span>
                          </div>
                       </md-toolbar>
                       <md-content layout-padding>
                         <form name="projectEditForm" class="projectEditForm">

                           <md-input-container>
                                <label>Search By</label>
                                <md-select ng-model="serachby" required ng-change="searchbyChange(serachby)"   >
                                  <md-option ng-repeat="serachby in searchByOptions" ng-value="serachby" >{{serachby}}</md-option>
                                 <!--  <md-option  ng-value="vendor" >By Vendor</md-option>
                                   <md-option  ng-value="workcenter" >By Workcenter</md-option> -->
                                    <!-- <md-option  ng-value="byvendor" >By Vendor</md-option> -->
                                </md-select>
                                
                             </md-input-container>

                              <md-input-container>
                                <label>Select {{serachby}}</label>
                                <md-select ng-model="vendororworkcenterForSearch" required ng-change="loadmachinessearchby(vendororworkcenterForSearch)"  ng-disabled="selectdisabled">
                                  <md-option ng-repeat="vendororworkcenter in vendororworkcenterforsearch" ng-value="vendororworkcenter.id" >{{vendororworkcenter.name}}</md-option>
                                </md-select>
                                
                             </md-input-container>
                           
                               <md-input-container>
                                <label>Select Machines</label>
                                <md-select ng-model="setblackout.machines" required  ng-disabled="selectdisabled" multiple>
                                  <md-option ng-repeat="machine in machinesTosetblackout" ng-value="machine.id" >{{machine.name}}</md-option>
                                </md-select>
                                
                             </md-input-container>
                              <md-datepicker ng-model="setblackout.date" md-placeholder="Enter Date"></md-datepicker>
                           

                            <div>
                              <md-button class="md-raised" ng-click="setBlackoutDay(setblackout)" type="submit">SET BLACKOUT DAY</md-button>
                              <md-button class="md-raised" ng-click="cancel('edit')">Cancel</md-button>
                            </div>
                        
                          </form>
                          <!-- <md-divider></md-divider> -->
                      </md-content>
          </md-dialog>
      </div>
</div> 


<div style="visibility: hidden">
      <div class="md-dialog-container" id="addDialogmachine">
         <md-dialog flex="50">
            <!-- <md-toolbar md-scroll-shrink> -->
            <md-toolbar>
                          <div class="md-toolbar-tools">
                             <h2>
                                <span>Add</span>
                             </h2>
                             <span flex></span>
                          </div>
                       </md-toolbar>
                       <md-content layout-padding>
                         <form name="projectAddForm" class="projectAddForm">
                              <md-input-container class="md-block">
                                <label>Name</label>
                                <input required name="name" ng-model="machine.name" id="nameId">
                                <div ng-messages="projectAddForm.name.$error">
                                  <div ng-message="required">This is required.</div>
                                </div>
                             </md-input-container>
                                <md-input-container>
                                <label>Work Center-Vendor</label>
                                <md-select ng-model="machine.workCenterVendor"  ng-change="workcenterChange(machine.workCenterID)">
                                  <md-option ng-repeat="workcentervendor in workcentervendors" ng-value="workcentervendor" >{{workcentervendor.displayName}}</md-option>
                                </md-select> 
                                
                             </md-input-container>
     

                             <md-content layout-padding>
                         
                    <md-input-container>
                                <label>Type </label>
                                <md-select ng-model="machine.type"" required ">
                                  <md-option value="normal" >Normal Machine</md-option>
                                  <md-option value="QCmachine" >QC Machine</md-option>
                                  <md-option value="inward" >Inward Logistics Machine</md-option>
                                  <md-option value="outward" >Outward Logistics Machine</md-option>
                                  <md-option value="stores" >Stores Machine</md-option>
                                  <md-option value="finalQC" >Final QC</md-option>
                                  <md-option value="invoice" >Invoice</md-option>
                                </md-select>
                                
                             </md-input-container><br>


                             <md-input-container ng-if="machine.type=='normal'">
                                <label>UoM </label>
                                <md-select ng-model="machine.UoM"" required ">
                                  <md-option ng-repeat="UoM in UoMs" ng-value="UoM.id" >{{UoM.name}}</md-option>
                                </md-select>
                                
                             </md-input-container><br>

                            

                             

                             <md-input-container class="md-block" ng-if="machine.type=='normal'">
                                <label>Capacity</label>
                                <input required name="capacity" ng-model="machine.capacity" id="nameId">
                                <div ng-messages="projectAddForm.capacity.$error">
                                  <div ng-message="required">This is required.</div>
                                </div>
                             </md-input-container>

                            <div>
                              <md-button  type="submit" class="md-raised" ng-click="addmachine(machine,projectAddForm.$invalid)">add</md-button>
                              <md-button class="md-raised" ng-click="cancel('add',machine)">Cancel</md-button>
                            </div>
                        
                          </form>
                          <!-- <md-divider></md-divider> -->
                      </md-content>
          </md-dialog>
      </div>
</div> 

<div style="visibility: hidden">
      <div class="md-dialog-container" id="editDialogmachine">
         <md-dialog flex="50">
            <!-- <md-toolbar md-scroll-shrink> -->
            <md-toolbar>
                          <div class="md-toolbar-tools">
                             <h2>
                                <span>Edit</span>
                             </h2>
                             <span flex></span>
                          </div>
                       </md-toolbar>
                       <md-content layout-padding>
                         <form name="projectEditForm" class="projectEditForm">
                              <md-input-container class="md-block">
                                <label>Name</label>
                                <input required name="editname" ng-model="machineEdit.name"  ng-readonly=editRead>
                                <div ng-messages="projectEditForm.editname.$error">
                                  <div ng-message="required">This is required.</div>
                                </div>
                             </md-input-container>

                               <!--md-input-container>
                                <label>Work Center</label>
                                <md-select ng-model="machineEdit.workcenterID" required ng-change="workcenterChange(machine.workcenterID)" ng-disabled="selectdisabled">
                                  <md-option ng-repeat="workcenter in workcenters" ng-value="workcenter.id" >{{workcenter.name}}</md-option>
                                </md-select>
                                
                             </md-input-container>

                             <md-input-container class="md-block">
                                <label>Vendor</label>
                                <md-select ng-model="machineEdit.workcenterVendorID" required ng-change="vendorChange(machine.workcenterID,machine.workcenterVendorID)" ng-disabled="selectdisabled">
                                 <md-option ng-repeat="vendor in vendors" ng-value="vendor.vendorRelation.id" >{{vendor.vendorRelation.name}}</md-option>
                                </md-select>
                             </md-input-container>

                               <md-input-container class="md-block">
                                <label>Location</label>
                                
                                 <md-select ng-model="machineEdit.LocationName" required ng-disabled="selectdisabled">
                                 <md-option ng-repeat="location in locations" ng-value="location.locationRelation.id" >{{location.locationRelation.name}}</md-option>
                                </md-select>

                             </md-input-container>


                             <md-input-container>
                                <label>UoM </label>
                                <md-select ng-model="machineEdit.UoM"" required " ng-disabled="selectdisabled">
                                  <md-option ng-repeat="UoM in UoMs" ng-value="UoM.id" >{{UoM.name}}</md-option>
                                </md-select>
                                
                             </md-input-container>

                              <md-input-container class="md-block">
                                <label>Capacity</label>
                                <input required name="capacityworkcenterVendorID" ng-model="machineEdit.capacityworkcenterVendorID" id="nameId" ng-readonly=editRead>
                                <div ng-messages="projectAddForm.capacityworkcenterVendorID.$error">
                                  <div ng-message="required">This is required.</div>
                                </div>
                            </md-input-container-->
                            
                            <md-input-container class="md-block">
                                <label>Vendor</label>
                                <md-select ng-model="machineEdit.workcenterVendorID" required ng-change="vendorChange(machine.workcenterID,machine.workcenterVendorID)">
                                 <md-option ng-repeat="vendor in workcentervendors" ng-value="vendor.id" ng-disabled="selectdisabled">{{vendor.displayName}}</md-option>
                                </md-select>
                             </md-input-container>
                             
                             <md-input-container>
                                <label>Type </label>
                                <md-select ng-model="machineEdit.type" "required" >
                                  <md-option value="normal" ng-disabled="selectdisabled">Normal Machine</md-option>
                                  <md-option value="QCmachine" ng-disabled="selectdisabled">QC Machine</md-option>
                                  <md-option value="inward" ng-disabled="selectdisabled">Inward Logistics Machine</md-option>
                                  <md-option value="outward" ng-disabled="selectdisabled">Outward Logistics Machine</md-option>
                                  <md-option value="stores" ng-disabled="selectdisabled">Stores Machine</md-option>
                                  <md-option value="finalQC" ng-disabled="selectdisabled">Final QC</md-option>
                                  <md-option value="invoice" ng-disabled="selectdisabled">Invoice</md-option>
                                </md-select>
                                
                             </md-input-container><br>


                             <md-input-container ng-if="machineEdit.type=='normal'">
                                <label>UoM </label>
                                <md-select ng-model="machineEdit.UoM"" required ">
                                  <md-option ng-repeat="UoM in UoMs" ng-value="UoM.id" ng-disabled="selectdisabled">{{UoM.name}}</md-option>
                                </md-select>
                                
                             </md-input-container><br>

                            

                             

                             <md-input-container class="md-block" ng-if="machineEdit.type=='normal'">
                                <label>Capacity</label>
                                <input required name="capacity" ng-model="machineEdit.capacity" id="nameId" ng-disabled="selectdisabled">
                                <div ng-messages="projectEditForm.capacity.$error">
                                  <div ng-message="required">This is required.</div>
                                </div>
                             </md-input-container>


                            <div>
                              <md-button class="md-raised" ng-if="editEnabled" ng-click="updatemachineclick(machineEdit,projectEditForm.$invalid,buttonText)" type="submit">{{buttonText}}</md-button>
                              <md-button class="md-raised" ng-click="cancel('edit')">Cancel</md-button>
                            </div>
                        
                          </form>
                          <!-- <md-divider></md-divider> -->
                      </md-content>
          </md-dialog>
      </div>
</div> 















