
<table-component headings="headingArray" tabledatas="plantData" selectedlist="selecteddata" addtableevent="addPopup()" deletetableevent="massDelete($event)" deletetableclick2="deleteFunction($event)" tableclick2="updatePopup()" toggletable2="toggleFun()"></table-component>

<div style="visibility: hidden">
    <div class="md-dialog-container" id="addDialogplant">
        <md-dialog flex="50">
            <!-- <md-toolbar md-scroll-shrink> -->
            <md-toolbar>
                          <div class="md-toolbar-tools">
                             <h2>
                                <span>Add</span>
                             </h2>
                             <span flex></span>
                          </div>
             </md-toolbar>
                       <md-content layout-padding>
                         <form name="projectAddForm" class="projectAddForm">
                              <md-input-container class="md-block">
                                <label>plant Name</label>
                                <input required name="name" ng-model="plant.name" id="nameId">
                                <div ng-messages="projectAddForm.name.$error">
                                  <div ng-message="required">This is required.</div>
                                </div>
                             </md-input-container>

                             <!-- <md-input-container class="md-block">
                                <label>Type</label>
                                <input required name="type" ng-model="plant.type" id="typeId">
                                <div ng-messages="projectAddForm.type.$error">
                                  <div ng-message="required">This is required.</div>
                                </div>
                             </md-input-container> -->
                             <md-select ng-model="plant.plannerID" placeholder="Planner" multiple="true">
                              <md-option ng-value="planner.id" ng-repeat="planner in planners">{{planner.name}}</md-option>
                             </md-select>

                            <div>
                              <md-button  type="submit" class="md-raised" ng-click="addplant(plant,projectAddForm.$invalid)">add</md-button>
                              <md-button class="md-raised" ng-click="cancel('add',plant)">Cancel</md-button>
                            </div>
                        
                          </form>
                          <!-- <md-divider></md-divider> -->
                      </md-content>
          </md-dialog>
    </div>
</div> 

<div style="visibility: hidden">
      <div class="md-dialog-container" id="editDialogplant">
         <md-dialog flex="50">
            <!-- <md-toolbar md-scroll-shrink> -->
            <md-toolbar>
                          <div class="md-toolbar-tools">
                             <h2>
                                <span>Edit</span>
                             </h2>
                             <span flex></span>
                          </div>
                       </md-toolbar>
                       <md-content layout-padding>
                         <form name="projectEditForm" class="projectEditForm">
                              <md-input-container class="md-block">
                                <label>Name</label>
                                <input required name="editname" ng-model="plantEdit.name"  ng-readonly=editRead>
                                <div ng-messages="projectEditForm.editname.$error">
                                  <div ng-message="required">This is required.</div>
                                </div>
                             </md-input-container>
							
							<md-select ng-model="plantEdit.plannerID" placeholder="Planner" multiple="true">
                              <md-option ng-value="planner.id" ng-repeat="planner in planners">{{planner.name}}</md-option>
                             </md-select>

                            <div>
                              <md-button class="md-raised" ng-click="updateplantclick(plantEdit,projectEditForm.$invalid,buttonText)" type="submit">{{buttonText}}</md-button>
                              <md-button class="md-raised" ng-click="cancel('edit')">Cancel</md-button>
                            </div>
                        
                          </form>
                          <!-- <md-divider></md-divider> -->
                      </md-content>
          </md-dialog>
      </div>
</div> 