<div ng-controller="tableController">
  <md-button class="md-fab" ng-click="$ctrl.addtableevent();" ng-if="$ctrl.headings[0].model!='blackout'">Add</md-button>
  <md-button class="md-primary md-raised" ng-click="$ctrl.deletetableevent()" ng-if="$ctrl.headings[0].model!='blackout' && deletionAllowed">Delete</md-button>

   <md-button class="md-primary md-raised" ng-click="$ctrl.harthaltableevent()" ng-if="$ctrl.headings[0].model=='holiday'">Set Harthal Day</md-button>

   <md-button class="md-primary md-raised" ng-click="$ctrl.blackouttableevent()" ng-if="$ctrl.headings[0].model=='machine'">Set BlackOut Day</md-button>
   
  <md-table-container>
    <table md-table multiple>
      <thead md-head>
        <tr md-row>
          <th md-column ng-repeat="heading in $ctrl.headings"><span>{{heading.title}}</span></th>
          <th md-column> </th>
        </tr>
      </thead>
      <tbody md-body>
         <tr md-row ng-repeat="tabledata in $ctrl.tabledatas">
          

<td md-cell ng-if="$ctrl.headings[0].model=='holiday'" ng-click="$ctrl.tableclick(tabledata,$ctrl.selectedlist)">{{tabledata.holidayname}}</td>
<td md-cell ng-if="($ctrl.headings[0].model=='holiday')" >{{tabledata.from?tabledata.from:'NA'}}</td>
<td md-cell ng-if="$ctrl.headings[0].model=='blackout'" ng-click="$ctrl.tableclick(tabledata,$ctrl.selectedlist)">{{tabledata.from?tabledata.from:'NA'}}</td>

<td md-cell ng-if="$ctrl.headings[0].model=='TransitTime'" ng-click="$ctrl.tableclick(tabledata,$ctrl.selectedlist)">{{tabledata.from}}</td>
<td md-cell ng-if="$ctrl.headings[0].model=='TransitTime'">{{tabledata.to}}</td>
<td md-cell ng-if="$ctrl.headings[0].model=='TransitTime'">{{tabledata.mode}}</td>
<td md-cell ng-if="$ctrl.headings[0].model=='TransitTime'">{{tabledata.time}}</td>

<td md-cell ng-if="$ctrl.headings[0].model=='blackout' || $ctrl.headings[0].model=='holiday'" >{{tabledata.to?tabledata.to:'NA'}}</td>
<td md-cell ng-if="$ctrl.headings[0].model=='holiday'" >{{tabledata.recursiveDays[0].name}}</td>

          <td md-cell ng-if="tabledata.name!=null" ng-click="$ctrl.tableclick(tabledata,$ctrl.selectedlist)">{{tabledata.name}}</td>
          <td md-cell ng-if="tabledata.email!=null" ng-click="$ctrl.tableclick(tabledata,$ctrl.selectedlist)">{{tabledata.email}}</td>
          <td md-cell ng-if="tabledata.role!=null" ng-click="$ctrl.tableclick(tabledata,$ctrl.selectedlist)">{{tabledata.role}}</td>

          <td md-cell ng-if="tabledata.workCenterRelation.name!=null" ng-click="$ctrl.tableclick(tabledata,$ctrl.selectedlist)">{{tabledata.workCenterRelation.name}}</td>
           <td md-cell ng-if="tabledata.vendorRelation.name!=null" ng-click="$ctrl.tableclick(tabledata,$ctrl.selectedlist)">{{tabledata.vendorRelation.name}}</td>
            <td md-cell ng-if="tabledata.locationRelation.name!=null" ng-click="$ctrl.tableclick(tabledata,$ctrl.selectedlist)">{{tabledata.locationRelation.name}}</td>
             <td md-cell ng-if="($ctrl.headings[0].model=='holiday' || $ctrl.headings[0].modelname=='workcentervendor')" ng-click="$ctrl.tableclick(tabledata,$ctrl.selectedlist)">{{tabledata.type?tabledata.type:'NA'}}</td>

              <td md-cell ng-if="(tabledata.workcenterrelation.name!=null)" ng-click="$ctrl.tableclick(tabledata,$ctrl.selectedlist)">{{tabledata.workcenterrelation.name}}</td>
              <td md-cell ng-if="($ctrl.headings[0].model=='machine')" ng-click="$ctrl.tableclick(tabledata,$ctrl.selectedlist)">{{tabledata.capacity?tabledata.capacity:'NA'}}</td>
              <td md-cell ng-if="($ctrl.headings[0].model=='machine')" ng-click="$ctrl.tableclick(tabledata,$ctrl.selectedlist)">{{tabledata.LocationName}}</td>
              <td md-cell ng-if="(tabledata.plantrelation.name!=null)" ng-click="$ctrl.tableclick(tabledata,$ctrl.selectedlist)">{{tabledata.plantrelation.name}}</td>


          
         

        
          <!-- for plant -->
          <td md-cell ng-if="tabledata.UserPlant.name!=null" ng-click="$ctrl.tableclick(tabledata,$ctrl.selectedlist)">{{tabledata.UserPlant.name}}</td>
          
          <td md-cell ng-if="$ctrl.headings[0].model=='plant'" >{{tabledata.planner?tabledata.planner:'NA'}}</td>
          
          <!-- <td md-cell ng-if="$ctrl.headings[0].modelname=='vendor'" ng-click="$ctrl.tableclick(tabledata,$ctrl.selectedlist)">
          <span ng-repeat="locationName in tabledata.locationID track by $index">{{locationName.name}} &nbsp;</span></td> -->
          
          <td md-cell layout="row" layout-align="end start" ng-if="deletionAllowed">
            <div>
            	
              <md-button class="md-secondary">
                  <md-tooltip md-direction="left">
                          Delete
                  </md-tooltip>
                  <md-icon class="material-icons" ng-style="{'font-size': '30px', height: '30px','color':'#cc0000'}" ng-click="$ctrl.deletetableclick(tabledata,$ctrl.selectedlist)">delete</md-icon>
              </md-button>
              <md-checkbox class="md-secondary" ng-click="$ctrl.toggletablelist(tabledata,$ctrl.selectedlist)"></md-checkbox>
            </div>
          </td>

        </tr>
      </tbody>
    </table>
  </md-table-container>
  <md-divider></md-divider>

</div>