<md-dialog aria-label="Mango (Fruit)">
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Audit History</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-svg-src="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/png/512/android-close.png" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content" style="height:300px;width:500px">
	  <div layout="row" style="padding:10px 10px 10px 10px;">
  <div layout="column" style="padding:10px 170px 10px 10px;border-right:solid 1px;border-bottom:solid 1px">
    <label>Date</label>
	</div>
	 <div layout="column" style="padding:10px 80px 10px 120px;border-bottom:solid 1px">
    <label>Details</label> 
	</div>
	</div>
	<div layout="row" style="padding:0px 10px 0px 10px;">
  <div layout="column" style="padding:0px 120px 0px 10px;border-right:solid 1px;border-bottom:solid 1px">
    <label>12/12/2016</label>
	</div>
	 <div layout="column" style="padding:0px 10px 0px 120px;border-bottom:solid 1px">
    <label>Google is an American multinational technology company specializing in Internet-related services hvjgj hjfgj gfh</label> 
	</div>
	</div>

 <div layout="row" style="padding:0px 10px 0px 10px;">
  <div layout="column" style="padding:0px 120px 0px 10px;border-right:solid 1px;border-bottom:solid 1px">
    <label>12/12/2016</label>
	</div>
	 <div layout="column" style="padding:0px 10px 0px 120px;border-bottom:solid 1px">
    <label>Google is an American multinational technology company specializing in Internet-related services</label> 
	</div>
	</div>
  
  
<div layout="row" style="padding:0px 10px 0px 10px;">
  <div layout="column" style="padding:0px 120px 0px 10px;border-right:solid 1px;border-bottom:solid 1px">
    <label>12/12/2016</label>
	</div>
	 <div layout="column" style="padding:0px 10px 0px 120px;border-bottom:solid 1px">
    <label>Google is an American multinational technology company specializing in Internet-related services</label> 
	</div>
	</div>
 
<div layout="row" style="padding:0px 10px 0px 10px;">
  <div layout="column" style="padding:0px 120px 0px 10px;border-right:solid 1px;border-bottom:solid 1px">
    <label>12/12/2016</label>
	</div>
	 <div layout="column" style="padding:0px 10px 0px 120px;border-bottom:solid 1px">
    <label>Google is an American multinational technology company specializing in Internet-related services</label> 
	</div>
	</div>
 
  <div layout="row" style="padding:0px 10px 0px 10px;">
  <div layout="column" style="padding:0px 120px 0px 10px;border-right:solid 1px;border-bottom:solid 1px">
    <label>12/12/2016</label>
	</div>
	 <div layout="column" style="padding:0px 10px 0px 120px;border-bottom:solid 1px">
    <label>Google is an American multinational technology company specializing in Internet-related services</label> 
	</div>
	</div>  
      </div>
    </md-dialog-content>

 <!--   <md-dialog-actions layout="row">
      <md-button href="http://en.wikipedia.org/wiki/Mango" target="_blank" md-autofocus>
        More on Wikipedia
      </md-button>
      <span flex></span>
      <md-button ng-click="answer('not useful')">
       Not Useful
      </md-button>
      <md-button ng-click="answer('useful')">
        Useful
      </md-button>
    </md-dialog-actions>-->
  </form>
</md-dialog>

<!--
<md-dialog aria-label="Mango (Fruit)">
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Process Ticket  - Printing</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content style="max-width:800px;max-height:810px; ">
      <md-tabs md-dynamic-height md-border-bottom>
        <md-tab label="one">
          <md-content class="md-padding">                  
		  <table width="920" align="center" bordercolor="#000000" style="border-bottom:none;padding-left:10px;">
		   <tr>
    <td height="118" colspan="6"><p align="center" class="style1"> <h1 class="md-display-2"></h1></p>      </td>
  </tr>
      <tr>
    <td height="30"><label>Sales  Order No </label></td>
    <td><input name="textfield2" type="text" id="textfield2" style="width:120px;"/></td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td height="30"><label>Line Item No </label></td>
    <td><input name="textfield4" type="text" id="textfield4" style="width:120px;" /></td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td height="30"><label>Customer PO /COD</label></td>
    <td><input name="textfield3" type="text" id="textfield3" style="width:120px;"/></td>
    <td><label>Customer  Name </label></td>
    <td><input name="textfield122" type="text" id="textfield122" style="width:120px;" /></td>
  </tr>
  <tr>
    <td height="30"><label>Design Name </label></td>
    <td><input name="textfield5" type="text" id="textfield5" style="width:120px;" /></td>
    <td><label>Customer Colour Code </label></td>
    <td><input name="textfield123" type="text" id="textfield123" style="width:120px;"/></td>
  </tr>
  <tr>
    <td height="30"><label>ColourCode</label></td>
    <td><input name="textfield6" type="text" id="textfield6" style="width:120px;"/></td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td height="33"><label>Material Group 1 </label></td>
    <td><input name="textfield7" type="text" id="textfield7" style="width:120px;"/></td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td height="33"><label>Material Group 2 </label></td>
    <td><input name="textfield8" type="text" id="textfield8" style="width:120px;"/></td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td height="31"><label>Qty</label></td>
    <td><input name="textfield9" type="text" id="textfield9" style="width:120px;"/></td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td height="35"><label>Sales Order Creation Date</label></td>
    <td><input name="textfield10" type="date" id="textfield10" style="width:120px;"/></td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td height="27"><label>Ex- Factory date</label> </td>
    <td><input name="textfield11" type="text" id="textfield11" style="width:120px;"/></td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td height="29"><label>Job Order for Full Qty</label></td>
    <td><input name="textfield12" type="text" id="textfield12" style="width:120px;"/></td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
		   </table>
		    </md-content>
        </md-tab>
      
       
    </md-dialog-content>
	 
   
  </form>
</md-dialog>
-->
</body>
</html>
